<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Infopro_Helloworld::top" title="Top Level Example">
                    <resource id="Infopro_Helloworld::config" title="Second Level Example"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>