<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Infopro_Helloworld::top_level_example"
             title="Top Level Example"
             module="Infopro_Helloworld"
             sortOrder="9999"
             resource="Magento_Backend::content"
            />
        <add id="Infopro_Helloworld::second_level_example"
             title="Second Level Example"
             module="Infopro_Helloworld"
             sortOrder="9999"
             resource="Magento_Backend::content"
             parent="Infopro_Helloworld::top_level_example"
             action="cms/page/index"
            />
        <add id="Infopro_Helloworld::third_level_example"
	     title="Third Level Example"
	     module="Infopro_Helloworld"
	     sortOrder="9999"
	     resource="Magento_Backend::content"

	     parent="Magento_Backend::system"
	     action="cms/page/index"
	    />                        
    </menu>
</config>